* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 75px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

/*bottoni*/
.button {
    padding: 10px;
    border-radius: 20px;
}

.button.white {
    color: black;
    background-color: white;
}

.button.blue {
    color: white;
    background-color: rgb(0, 132, 253);
    width: 80%;
    text-align: center;
    font-size: 25px;
    border-radius: 50px;
}

/*generali*/
.text-align-center {
    text-align: center;
}

.icona {
    font-size: 120px;
    color: rgb(0, 132, 253);
}

.menu-lista {
    display: none;
}

.container {
    width: 100%;
    margin: auto;
}

.cards.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.strategic-development.container {
    background-color: rgb(151, 146, 228);
    padding-bottom: 40px;
}

.testimonial.container {
    background-color: rgb(106, 83, 67);
}

.navbar-top {
    background-color: rgb(0, 132, 253);

    color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.menu {
    font-size: 25px;

}

.card:first-child {
    margin-top: 140px;
    text-align: left;
}

.card {
    width: 80%;
    background-color: rgb(181, 221, 255);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    border-radius: 45px;
    padding: 20px 20px 0px 20px;
    text-align: center;

}

.half-size {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3-demo {
    font-size: 30px;
    width: 80%;
    color: rgb(0, 132, 253);
    font-weight: bolder;
    text-align: center;
}

.img-demo {
    width: 50%;
    margin-top: 30px;
}

.p-demo {
    width: 50%;
    font-size: 20px;
    line-height: 2rem;
    color: rgb(90, 110, 127);
    margin: 25px 0px;
}

.strategic {
    background-color: rgb(151, 146, 228);
    color: white;
    padding: 40px 0px;
}

.h3-strategic,
.h4-app-development {
    margin: 30px auto;
    font-size: 40px ;
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.icona-app-development {
    background-color: rgb(151, 146, 228);
    border-radius: 50%;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
}

.development {
    background-color: white;
    border-radius: 50px;
    padding: 30px;
}

.strategic,
.development {
    margin: 40px auto;
    text-align: left;
    width: 80%;


}
.strategic-development.container p{
    line-height: 2rem;
    font-size: 25px;
}
.strategic img,
.development img {
    width: 100%;
}

.intro,
.person {
    width: 100%;
    background-color: rgb(92, 80, 80);
    height: 170px;
    margin-top: 20px;
}

.layout.container {
    width: 100%;
}

.col {
    height: 200px;
    margin: 20px auto;
    background-color: bisque;
}

.about-us {
    margin-bottom: 20px;
}

.description {
    background-color: rgb(78, 88, 106);
    height: 150px;
    margin-top: 20px;
}

.description-two {
    background-color: rgb(78, 88, 106);
    height: 150px;
    margin-top: 20px;
}

.free {
    width: 100%;
    height: 300px;
    background-color: rgb(97, 130, 119);
}

.conclusion {
    background-color: crimson;
    height: 200px;
    margin-top: 20px;
}


/*TABLET*/
@media screen and (min-width: 768px) {
    header {
        height: 75px;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(0, 132, 253);

    }

    .navbar-top {
        width: 100%;
        max-width: 768px;
        margin: auto;
        padding: 15px 0px;
    }

    .cards.container {
        width: 100%;
        padding-top: 120px;
        gap: 20px;

    }

    .cards {
        max-width: 738px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: calc((100% / 3) - 1rem);
        margin-top: 0px;
    }

    .card:first-child {
        width: calc(100% / 3 *2);
        margin-top: 0px;
    }

    .strategic,
    .development {
        margin: auto;
        max-width: 738px;
        margin-bottom: 20px;
    }

    .intro,
    .person {
        margin: 20px auto;
        max-width: 738px;
    }

    .layout.container {
        max-width: 738px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
    }

    .col,
    .description,
    .description-two {
        width: calc((100% / 2) - 40px);
    }

    .width-100 {
        width: 100%;
    }

    .description,
    .description-two {
        margin: auto 20px;
    }

    .about-us.container {
        display: flex;
        flex-wrap: wrap;
        max-width: 738px;
        margin: auto;
    }

    .free {
        margin: 20px auto;
        max-width: 738px;
        background-color: rgb(97, 130, 119);
    }

    .conclusion {
        max-width: 738px;
        width: 50%;
        margin: auto;
    }

    .card:first-child {
        width: calc((100% / 3 *2) - 20px);
    }
}


/* DESKTOP*/
@media screen and (min-width:992px) {
    .navbar-top {
        max-width: 960px;
        padding: 0px 20px;
    }

    header {
        height: 75px;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(0, 132, 253);
    }

    .cards {
        max-width: 960px;
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
    }

    .card {
        width: calc((100% / 3) - 1rem);

    }

    .card:first-child {
        width: calc(100% / 3 *2);
    }

    .strategic,
    .development {
        margin: auto;
        max-width: 960px;
        width: 100%;
        margin-bottom: 20px;
    }

    .intro,
    .person {
        margin: 20px auto;
        max-width: 960px;
    }

    .layout.container {
        max-width: 960px;
    }

    .col {
        width: calc((100% / 3) - 40px);
    }

    .about-us.container {
        max-width: 960px;
    }

    .free {
        width: 50%;
        margin: 20px auto;
        max-width: 1200px;
    }

    .conclusion {
        max-width: 960px;
        width: 50%;
    }

    .menu {
        display: none;
    }

    .menu-lista {
        display: block;
    }

    li {
        display: inline-block;
        padding-right: 15px;
    }

    li.button {
        padding-right: 0px;
    }

    .card:first-child {
        display: flex;
        flex-direction: row;
    }

    .img-demo {
        align-self: flex-end;
        width: 50;
    }

    .half-size {
        width: 80%;
        padding: 30px;
    }

    .card:first-child {
        width: calc((100% / 3 *2) - 20px);
        text-align: left;
    }

    .strategic-development.container {

        display: flex;
        justify-content: center;
    }

    .container-centered {
        max-width: 960px;
        display: flex;
        justify-content: center;
        padding: 40px 0;
    }

    .strategic {
        width: 50%;
        padding-right: 40px;
    }

    .development {
        width: 35%;
    }
}